/* 
 * $Id: course.css,v 1.1 2006/12/28 00:21:26 pal Exp $ 
 */
body {	
	background: #FFFFFF; 
	color: #000000; 
	font-family: Helvetica, sans-serif; 
	font-weight: normal;
	font-size: 12px;
	list-style: outside;
    width:800;
}
table {
	font-family: Helvetica, sans-serif; 
        font-size: 12px;
}

a:link { 
	color: #0000a0; /*d3595e;*/
	text-decoration: none;
	font-weight: bold; 
} 
a:visited { 
	color: #808080; /*#b3393e;*/
	text-decoration: none;
	font-weight: bold; 
}
a:hover {
	text-decoration: underline;
	font-weight: bold; 
}
b { 
	font-weight: bold; 
}

img {
    vertical-align:middle;
}

em {
	font-style: oblique;
}

h1 {    
	font-size: x-large;
	font-weight: bold; 
	font-family: Helvetica, sans-serif;   
}
.h1a {    
	font-size: large;
	font-weight: bold; 
	font-style: oblique;
	font-family: Helvetica, sans-serif;   
}
h2 { 
	font-size: x-large; 
	font-weight: bold;
 	background-color: #B5CFE0;
	padding: 5px 5px 5px 5px;
    width:95%;
}
h3 { 
	font-size: large;
	font-weight: bold;
 	background-color: #B5CFE0;
	padding: 5px 5px 5px 5px;
    width:95%;
}

h4 { 
	font-size: large;
	font-weight: normal; 
}

h5 { 
	font-size: medium;
	font-weight: normal; 
}

sup {
	font-size: x-small;
} 
sub {
	font-size: x-small;
} 

ul.links {
	border: 0;
	margin-left: 1.5em;
	padding: 0;
	text-decoration: none;
	text-align: left; 
	font-size: small; 
}

.courseinfo {
  font-family: Lucida-sans, serif;
  font-size: 14px;
}

.navigation-text {
  font-weight: bold;
}

.page-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.paper-topic {
  background: #ff898e;
  font-weight: bold;
  font-size: 14px;
}

.assignment {
  color: #0000a0;
  font-weight: bold;
}

.class-entry {
  background: #b0b0b0;
  font-weight: bold;
}

a.class-entry:link { 
	color: #a00000;
	text-decoration: none;
	font-weight: bold; 
} 
a.class-entry:visited { 
	color: #e00000; 
	text-decoration: none;
	font-weight: bold; 
}
a.class-entry:hover {
	text-decoration: underline;
	font-weight: bold; 
}
 
code { 
	font-family: monospace; 
	font-size: medium;
}
pre { 
	font-family: monospace; 
	margin-left: 2em; 
}
pre.code{
	border: 2px solid #003B62;
	font-family: monospace;
	background-color: #B5CFE0;
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	overflow-y : hidden;
	position : relative;
	overflow: auto;
	width: 100%;
}
pre.cmd{
	border: 2px solid #003B62;
	font-family: monospace;
	background-color: #B5CFE0;
	font-size: 11px;
	padding: 5px 5px 5px 5px;
	overflow-y : hidden;
	position : relative;
	overflow: auto;
	width: 100%;
}


dt, dd, ul { 
	margin-top: 0; 
	margin-bottom: 0; 
}
dt { 
	font-weight: bold; 
}

p {
}
p.ex {
    font-weight: bold;
    min-height: 37px;
    padding-left: 45px;
    background-image: url(figs/exercise.png);
    background-repeat:  no-repeat;
    background-position: center left;
}
p.q {
    font-style: italic;
    min-height: 37px;
    padding-left: 45px;
    background-image: url(figs/question.png);
    background-repeat:  no-repeat;
    background-position: center left;
}
